
.images{
    display: flex;
    /*flex-direction: row;*/
    height: 200px;
    width: 850px;
    /*align-items: center;*/
}

.image{
    display: flex;
    height: 350px;
    width: 600px;
    margin-left: 100px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 100px;
    line-height: 10px;
    /* background: #364d79; */
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: blue;
}