.header_1{
    display: flex;
    flex-direction: row;
    width: 1129px;
    height: 118px;
}

.avatar{
    display: flex;
    margin-left: 48px;
    margin-top: 26px;
}

.infom{
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-top: 19px;
    height: 120px;
}
.infom_fir{
    height: 30px;
    font-size: 15px;
    color: #4389A2;
    margin-left: 20px;
}

.infor_item{
    height: 30px;
    display: flex;
    flex-direction: row;
}

.span{
    height: 30px;
    width: 180px;
    margin-left: 20px;
}

.span_fu{
    height: 30px;
    width: 75px;
    margin-left: 20px;
}

.input_size{
    height: 23px;
    width: 119px;
}

.img_size_xiugai{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17px;
    width: 17px;
}

.button{
    display: flex;
    height: 25px;
    width: 35px;
    
    justify-content: center;
    align-items: center;
}
